@import url("./reset.css");
@font-face {
  font-family: "Rebecca";
  src: url("./font/EF_Rebecca.ttf");
}
@font-face {
  font-family: "NanumL";
  src: url("./font/NanumSquareL.ttf");
}
@font-face {
  font-family: "NanumR";
  src: url("./font/NanumSquareR.ttf");
}

/* common */
#wrap {
  width: 100%;
  height: 100vh; /*일단 이렇게*/
  background: #deccc8;
}

/* header */
header {
  width: 100%;
  height: 90px;
  background: #f5f2ef;
  border-bottom: 1px solid #323232;
}
header .header_inner {
  font: bold 15px/1 "NanumL";
  width: 86%;
  height: inherit;
  margin: 0 auto;
  position: relative;
}
header .header_inner h1 {
  font-family: "Rebecca";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*완전히 정가운데로 위치하게*/
}
header .header_inner .nav_left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
header .header_inner .nav_right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  overflow: hidden;
}
header .header_inner .nav_right li {
  float: left;
  margin-left: 50px;
}
header .header_inner .nav_right li:first-child {
  margin-left: 0;
}

/* section */
/* section {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section .introduce h1 {
  font: bold 170px/1 "Rebecca";
}
section .introduce h3 {
  font: normal 70px/1 "NanumR";
  color: #fff;
}
section .introduce div {
  background: #fff;
  width: 100%;
  height: 1px;
} */

/* section */
section {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  border: 1px solid #0f0;
}
.content article {
  /* border: 1px solid #000; */
}
