/* Variables*/
$color: (
  main-cream: #f5f2ef,
  main-pink: #deccc8,
  main-black: #323232,
  main-khaki: #aeb5b4,
);
$font-size: (
  head-small: 15px,
  head-large: 30px,
  page-top: 50px,
);

@import url("./reset.css");
@font-face {
  font-family: "Rebecca";
  src: url("./font/EF_Rebecca.ttf");
}
@font-face {
  font-family: "NanumL";
  src: url("./font/NanumSquareL.ttf");
}
@font-face {
  font-family: "NanumR";
  src: url("./font/NanumSquareR.ttf");
}

/* common */
.wrap {
  width: 100%;
  height: 8000px;
}

/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 90px;
  background: map-get($color, main-cream);
  border-bottom: 1px solid map-get($color, main-black);
  .header_inner {
    font: bold 15px/1 "NanumL";
    color: map-get($color, main-black);
    width: 86%;
    height: inherit;
    margin: 0 auto;
    position: relative;
    .header_contents {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      i {
        font-size: map-get($font-size, head-large);
      }
      span {
        font: normal 30px/1 "Rebecca";
        margin-left: 10px;
      }
    }
    .nav_left {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    .nav_right {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      overflow: hidden;
      li {
        float: left;
        margin-left: 50px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

/* page-content */
.page-content {
  width: inherit;
  height: inherit;
}

/* section-main */
.section-main {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background: map-get($color, main-pink);
  .main-container {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    .main-banner {
      display: inline-block;
      text-align: center;
      font: normal 270px/1 "Rebecca";
      color: map-get($color, main-black);
    }
    .main-text {
      display: inline-block;
      font: bold 30px/1.5 "NanumL";
      text-transform: uppercase;
      color: map-get($color, main-black);
      margin-top: 20px;
      padding-left: 100px;
    }
  }
}

/* section-introduce */
// .section-introduce {
//   width: 100%;
//   height: 100vh;
//   padding: 100px 0;
//   background: map-get($color, main-khaki);
//   .introduce-top {
//     text-align: center;
//     span {
//       font: normal 100px/1 "Rebecca";
//       color: map-get($color, main-black);
//       text-transform: uppercase;
//     }
//   }
//   .pic-list {
//     border: 1px solid #000;
//     ul {
//       li {
//         width: 255px;
//         height: 430px;
//         float: left;
//         margin: 0 20px;
//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: cover;
//           border-radius: 130px;
//           filter: grayscale(0.8);
//         }
//       }
//     }
//   }
// }

.section-introduce {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background: map-get($color, main-khaki);
  .introduce-top {
    text-align: center;
    span {
      font: normal 100px/1 "Rebecca";
      color: map-get($color, main-black);
      text-transform: uppercase;
    }
  }
  .pic-list {
    margin-top: 80px;
    ul {
      float: left;
      overflow: hidden;
      border: 1px solid #000;
      li {
        width: 100%;
        display: flex;
        width: calc(100vw * (240 / 1919));
        height: calc(100vw * (428 / 1919));
        border-radius: calc(100vw * (240 / 1919));
        margin: 0 calc(100vw * (20 / 1919));
        position: relative;
        overflow: hidden;
        float: left;
        &:nth-child(odd) {
          margin-top: 52px;
        }
        &:first-child {
          margin-left: 0;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(1);
        }
      }
    }
  }
}
