/* import */
@font-face {
  font-family: "Rebecca";
  src: url("./font/EF_Rebecca.ttf");
}
@font-face {
  font-family: "NanumL";
  src: url("./font/NanumSquareL.ttf");
}
@font-face {
  font-family: "NanumR";
  src: url("./font/NanumSquareR.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* common */
.wrap {
  width: 100%;
  height: 8000px;
}

/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 90px;
  background: #f5f2ef;
  border-bottom: 1px solid #323232;
}
.header .header_inner {
  font: bold 15px/1 "NanumL";
  color: #323232;
  width: 86%;
  height: inherit;
  margin: 0 auto;
  position: relative;
}
.header .header_inner .header_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .header_inner .header_contents i {
  font-size: 30px;
  color: #323232;
}
.header .header_inner .header_contents span {
  font: normal 30px/1 "Rebecca";
  color: #323232;
  margin-left: 10px;
}
.header .header_inner .nav_left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.header .header_inner .nav_left a {
  color: #323232;
}
.header .header_inner .nav_right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  overflow: hidden;
}
.header .header_inner .nav_right li {
  float: left;
  margin-left: 50px;
}
.header .header_inner .nav_right li:first-child {
  margin-left: 0;
}
.header .header_inner .nav_right li a {
  color: #323232;
}

/* page-content */
.page-content {
  width: inherit;
  height: inherit;
}

/* section-main */
.section-main {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background: #deccc8;
}
.section-main .main-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.section-main .main-container .main-banner {
  display: inline-block;
  text-align: center;
  font: normal 14.0698280354vw/1 "Rebecca";
  color: #323232;
}
.section-main .main-container .main-text {
  display: inline-block;
  font: bold 30px/1.5 "NanumL";
  text-transform: uppercase;
  color: #323232;
  margin-top: 20px;
  padding-left: 100px;
}

/* section-travel */
/* section-travel */
.section-travel {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background: #aeb5b4;
}
.section-travel .travel-top {
  text-align: center;
}
.section-travel .travel-top span {
  font: normal 6.5em/1 "Rebecca";
  color: #323232;
  text-transform: uppercase;
}
.section-travel .pic-list {
  margin-top: 80px;
  overflow: hidden;
}
.section-travel .pic-list ul {
  float: left;
  border: 1px solid #000;
}
.section-travel .pic-list ul li {
  width: 100%;
  display: flex;
  width: 12.5065138093vw;
  height: 22.3032829599vw;
  border-radius: 12.5065138093vw;
  margin: 0 1.0422094841vw;
  position: relative;
  overflow: hidden;
  float: left;
}
.section-travel .pic-list ul li:nth-child(odd) {
  margin-top: 52px;
}
.section-travel .pic-list ul li:first-child {
  margin-left: 0;
}
.section-travel .pic-list ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}
.section-travel .bottom-moving {
  margin-top: 80px;
}
.section-travel .bottom-moving .moving-item {
  float: left;
  border: 1px solid #f00;
  overflow: hidden;
}
.section-travel .bottom-moving .moving-item span {
  margin-right: 20px;
}
.section-travel .bottom-moving .moving-item i {
  margin-right: 20px;
}

/* https://baronissisportsclub.webflow.io/ */
.section-movie {
  width: 100%;
  height: 100vh;
  background: #49575e;
}
.section-movie .movie-back {
  height: 80vh;
  font-family: "Rebecca";
  font-size: 180px;
  color: #f5f2ef;
  border: 1px solid #0f0;
}
.section-movie .movie-back .back-top {
  border: 1px solid #f00;
}/*# sourceMappingURL=style.css.map */