/* @font-face {
  font-family: "Kakao";
  src: url("./font/KakaoBig-Regular-v1.0.4bf7d77.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Kakao;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  width: 428px;
  height: 926px;
  background-color: #fff;
}

header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap: 10px;
  font-size: 27px;
}

section {
  margin-top: 50px;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer button {
  font-family: Kakao;
  width: 368px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: yellow;
  font-size: 20px;
}

footer button:hover {
  background: transparent;
  border: 1px solid #fff;
}

footer div {
  display: flex;
  text-align: left;
  padding: 0 89px;
  color: gray;
} */
/* fieldset {
  width: 280px;
  margin-bottom: 20px;
}
div {
  text-align: center;
}
label {
  color: lightseagreen;
  font-weight: bold;
}
#testbox {
  width: 300px;
}
input {
  text-align: center;
} */
body {
  text-align: center;
}
footer {
  text-align: center;
}
