header {
  width: 800px;
  background: #f00;
  margin: 0 auto;
}
section {
  width: 800px;
  margin: 0 auto;
  overflow: hidden; /*부모요소에서 잘라냄. float는 다음 요소에도 영향이 감. 그렇기 때문에 잘라내야함.*/
}
#aside {
  width: 200px;
  background: #00f;
  float: left;
}
#content {
  width: 400px;
  background: #0f0;
  float: left;
}
footer {
  width: 800px;
  margin: 0 auto;
  background: teal;
}
